<p id="notice"><%= notice %></p>

<h1>Listing Elements</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Page</th>
      <th>Content</th>
      <th>Link</th>
      <th>Pos x</th>
      <th>Pos y</th>
      <th>Width</th>
      <th>Height</th>
      <th>Font size</th>
      <th>Theme</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @elements.each do |element| %>
      <tr>
        <td><%= element.title %></td>
        <td><%= element.page_id %></td>
        <td><%= element.content %></td>
        <td><%= element.link %></td>
        <td><%= element.pos_x %></td>
        <td><%= element.pos_y %></td>
        <td><%= element.width %></td>
        <td><%= element.height %></td>
        <td><%= element.font_size %></td>
        <td><%= element.theme %></td>
        <td><%= element.language %></td>
        <td><%= link_to 'Show', element %></td>
        <td><%= link_to 'Edit', edit_element_path(element) %></td>
        <td><%= link_to 'Destroy', element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Element', new_element_path %>
