<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @element.title %>
</p>

<p>
  <strong>Page:</strong>
  <%= @element.page_id %>
</p>

<p>
  <strong>Content:</strong>
  <script>
    var app = app || {};
    app.content = "<%= @element.content.gsub("\n", '\n').gsub('"', '\"').html_safe %>"
  </script>
  <div id="code">
    <div class="controls">
      <button class="font-size">+</button>
      <button class="font-size">-</button>
      <label for="theme">Theme</label>
      <select id="theme">
        <option value="default">Default</option>
        <option value="blackboard">Blackboard</option>
      </select>
      <label for="language">Language</label>
      <select id="language">
        <option value="javascript">Javascript</option>
        <option value="ruby">Ruby</option>
        <option value="css">CSS</option>
        <option value="htmlmixed">HTML</option>
      </select>
      <button class="save">Save</button>
    </div>

  </div>
</p>

<p>
  <strong>Link:</strong>
  <%= @element.link %>
</p>

<p>
  <strong>Pos x:</strong>
  <%= @element.pos_x %>
</p>

<p>
  <strong>Pos y:</strong>
  <%= @element.pos_y %>
</p>

<p>
  <strong>Width:</strong>
  <%= @element.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @element.height %>
</p>

<%= link_to 'Edit', edit_element_path(@element) %> |
<%= link_to 'Back', elements_path %>
