<!DOCTYPE html>
<html>
<head>
  <title>Code Paste</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<header>
  <div class="title"><a href="<%= root_path %>">Code paste</a></div>
  <% if params[:action] == "show" %>
  <ul class="page-controls">
    <li>
      <input type="text" id="page-title" placeholder="Page title (optional)" value="<%= @page.title %>"/>
    </li>
    <li>
      <select id="expiry"></select>
      <span id="expiry-status"></span>
    </li>
    <li>
      <span id="page-status"></span>
    </li>
    <li>
      <button class="add-code"><i class="fa fa-plus"></i>New snippet</button>
    </li>
  </ul>
  <% end %>
</header>

<div class="wrapper">
<%= yield %>
</div>

</body>
</html>
